In [51]:
import pandas as pd
import numpy as np
from pathlib import Path

In [64]:
df_stock_price=pd.read_csv('./data/SAP Dataset 2016-2021 - XETRA EUR.csv',na_values=['null'],index_col='Date',parse_dates=True,infer_datetime_format=True)
df_EURO_exchange_rate=pd.read_csv('./data/EURO x BRL 2016-2021.csv',na_values=['null'],index_col='Date',parse_dates=True,infer_datetime_format=True)

In [69]:
print(df_stock_price.shape)
print(df_EURO_exchange_rate.shape)

(1268, 6)
(1268, 6)

In [48]:
#Adjust dataset with same date index
missing_dates_df1 = pd.date_range(start = '2016-11-09', end = '2021-11-09' ).difference(df_stock_price.index)
missing_dates_df2 = pd.date_range(start = '2016-11-09', end = '2021-11-09' ).difference(df_EURO_exchange_rate.index)

dates_missing = set(missing_dates_df1) - set(missing_dates_df2)
dates_missing

set()

In [50]:
df_EURO_exchange_rate = df_EURO_exchange_rate.drop(dates_missing)
df_EURO_exchange_rate.info()
df_EURO_exchange_rate.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1268 entries, 2016-11-09 to 2021-11-09
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1265 non-null   float64
 1   High       1265 non-null   float64
 2   Low        1265 non-null   float64
 3   Close      1265 non-null   float64
 4   Adj Close  1265 non-null   float64
 5   Volume     1265 non-null   float64
dtypes: float64(6)
memory usage: 69.3 KB

              Open    High     Low   Close  Adj Close  Volume
Date
2016-11-09  3.4886  3.6002  3.4796  3.4888     3.4888     0.0
2016-11-10  3.5269  3.6794  3.4957  3.5271     3.5271     0.0
2016-11-11  3.6937  3.7925  3.6774  3.6953     3.6953     0.0
2016-11-14  3.7238  3.7334  3.6334  3.7238     3.7238     0.0
2016-11-15  3.6935  3.7144  3.6824  3.6956     3.6956     0.0

In [49]:
df_stock_price.info()
df_stock_price.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1268 entries, 2016-11-09 to 2021-11-09
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       1268 non-null   float64
 1   High       1268 non-null   float64
 2   Low        1268 non-null   float64
 3   Close      1268 non-null   float64
 4   Adj Close  1268 non-null   float64
 5   Volume     1268 non-null   int64
dtypes: float64(5), int64(1)
memory usage: 69.3 KB

                 Open       High        Low      Close  Adj Close   Volume
Date
2016-11-09  76.449997  78.529999  75.500000  78.529999  71.981300  4242667
2016-11-10  79.070000  79.199997  76.889999  77.379997  70.927216  3303639
2016-11-11  77.680000  77.989998  75.629997  76.449997  70.074760  3323169
2016-11-14  77.089996  77.110001  75.559998  75.839996  69.515625  2721927
2016-11-15  76.239998  76.279999  75.070000  75.970001  69.634789  2433644

In [52]:
filepath = Path('./data/EURO x BRL 2016-2021.csv') 
df_EURO_exchange_rate.to_csv(filepath)

In [62]:
merged_dataframe = pd.merge(df_stock_price["Close"], df_EURO_exchange_rate["Close"], on=["Date"])

merged_dataframe.columns = ['Close_Stock', 'Close_EUR']
merged_dataframe["Close_Stock_BRL"] = merged_dataframe["Close_Stock"] * merged_dataframe["Close_EUR"]

merged_dataframe.info()
merged_dataframe.head()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1268 entries, 2016-11-09 to 2021-11-09
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Close_Stock      1268 non-null   float64
 1   Close_EUR        1265 non-null   float64
 2   Close_Stock_BRL  1265 non-null   float64
dtypes: float64(3)
memory usage: 39.6 KB

            Close_Stock  Close_EUR  Close_Stock_BRL
Date
2016-11-09    78.529999     3.4888       273.975461
2016-11-10    77.379997     3.5271       272.926987
2016-11-11    76.449997     3.6953       282.505674
2016-11-14    75.839996     3.7238       282.412977
2016-11-15    75.970001     3.6956       280.754736

In [71]:
merged_dataframe.dropna()
filepath = Path('./data/Stock Price EURO x BRL 2016-2021.csv') 
merged_dataframe.to_csv(filepath)